<h1>This is chat#new</h1>
<p><%= @nickname + " says: " + @message%></p>

<%= form_tag '/chat/create' do %>
	<%= label_tag "Your message: " %>
	<%= text_field_tag :message %>	

	<%= submit_tag "Send" %>
<% end %>