<h1>squirrelChat</h1>

<% if @lines%>
	<% @lines.each do |l| %>
		<%= l %><br />
	<% end %>
<% end %>

<%= form_tag '/chat/create' do %>
	<%= label_tag "Your message: " %>
	<%= text_field_tag :message %>
	<%= hidden_field_tag :nickname, @nickname %>
	
	<%= submit_tag "Send" %>
<% end %>