<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">SquirrelChat</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href=<%= new_post_path %>>Chat</a></li>
              <li><a href="/">Set Nickname</a></li>
            </ul>
            <% if current_user %>
            	<p class="navbar-text pull-right">Your nickname:
            		"<%= current_user.nickname %>"
            	</p>
            <% end %>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<div class="container">
<div class="hero-unit">
<h3><u>SquirrelChat</u></h3> 
<br />

<% if @posts_with_nickname %>
    <% @posts_with_nickname.each do |p| %>
        <%= p[:nickname] %> says: <%= p[:content] %><br />
    <% end %>
<% end%>


<%= form_for @post do |p| %>
	<%= p.label "Your message: " %>
	<%= p.text_field :content %>
	<%= submit_tag "Send", :class => "btn btn-primary" %>
<% end %>


<br />
</div>
</div>