
<h3><u>SquirrelChat</u></h3> 
<br />
  <div id="chatbox">
    <%= render(:partial => "chatbox") %>
  </div>
<br />

  <%= form_for @post, remote: true do |p| %>
	<%= p.label "Your message: " %>
	<%= p.text_field :content %>
	<%= submit_tag "Send", :class => "btn btn-primary" %>
  <% end %>


<br />
